@model Product

<div>
    <h1>Добавление продукта</h1>
    <div>
        <form asp-controller="Home" asp-action="ProductEdit" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <input type="submit" value="Готов" />

        </form>
    </div>
</div>
